@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient {
       @apply bg-gradient-to-r from-teal-600 via-blue-600 to-pink-600
    }
}

ul{
  list-style: none;
}
a{
  color: white;
  text-decoration: none;
}